@model ApoliSys.ViewModels.SeguradoViewModel

@{
    ViewData["Title"] = "Cadastrar um Segurado";
}

<div class="row">
    <div class="col-12 col-sm-auto mx-sm-auto">
        <h5 class="text-primary text-center">Cadastrar um Segurado</h5>
    </div>
</div>
<div class="row justify-content-sm-center mb-5">
    <div class="col-sm-10 col-md-8 col-xl-6 col-xxl-4">
        <ul class="nav nav-tabs form-step" id="myTab" role="tablist">
            <li class="nav-item form-step-item" role="presentation">
                <button class="nav-link form-step-link active" id="step-one" data-bs-toggle="tab" data-bs-target="#step-one-pane" type="button" role="tab" aria-controls="step-one-pane" aria-selected="true">1</button>
                <div class="form-step-label">Informações Pessoais</div>
            </li>
            <hr class="form-step-separator">
            <li class="nav-item form-step-item" role="presentation">
                <button class="nav-link form-step-link" id="step-two" data-bs-toggle="tab" data-bs-target="#step-two-pane" type="button" role="tab" aria-controls="step-two-pane" aria-selected="false">2</button>
                <div class="form-step-label">Endereço</div>
            </li>
        </ul>
        @* <div class="form-step-indicator">
            <span class="form-step-number">1</span>
            <span class="form-step-separator"></span>
            <span class="form-step-number">2</span>
        </div> *@
    </div>
</div>
<form id="form-cadastrar" action="/Segurado/Salvar" class="row gy-3 tab-content step-form needs-validation justify-content-md-center" novalidate>
    <div class="col-md-8 col-xl-6 col-xxl-4 tab-pane show active fade" id="step-one-pane">
        <div class="row gy-2 justify-content-sm-center">
            <div class="col-sm-10 col-md-12 form-group">
                <label asp-for="Pessoa.Nome" class="form-label">Nome<sup>*</sup></label>
                <input form="form-cadastrar" asp-for="Pessoa.Nome" class="form-control" placeholder="Ex. Ana Maria da Silva" required/>
                <span asp-validation-for="Pessoa.Nome" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-sm-5 col-md-6 form-group">
                <label asp-for="Pessoa.Genero" class="form-label">Gênero<sup>*</sup></label>
                <select form="form-cadastrar" asp-for="Pessoa.Genero" asp-items="Html.GetEnumSelectList<genero>()" required>
                    <option value="" disabled selected>Selecione</option>
                </select>
                <span asp-validation-for="Pessoa.Genero" class="invalid-feedback">Campo obrigatório</span>
            </div>
            <div class="col-sm-5 col-md-6 form-group">
                <label asp-for="Pessoa.DataNascimento" class="form-label">Data de Nascimento<sup>*</sup></label>
                <input form="form-cadastrar" asp-for="Pessoa.DataNascimento" type="date" class="form-control" required>
                <span asp-validation-for="Pessoa.DataNascimento" class="invalid-feedback">Campo obrigatório</span>
            </div>
            <div class="col-sm-10 col-md-12 form-group">
                <label asp-for="Pessoa.CpfCnpj" class="form-label">CPF/CNPJ<sup>*</sup></label>
                <input form="form-cadastrar" asp-for="Pessoa.CpfCnpj" class="form-control" placeholder="Digite o CPF/CNPJ do Segurado" required/>
                <span asp-validation-for="Pessoa.CpfCnpj" class="invalid-feedback">Campo Obrigatório</span>
                <div class="form-check form-switch mt-1 d-flex">
                    <input class="form-check-input" id="usar-cnpj" name="usar-cnpj" type="checkbox" role="switch">
                    <label class="form-check-label align-self-center ms-1" for="usar-cnpj">Usar CNPJ</label>
                </div>
            </div>
            <div class="col-sm-10 col-md-12 form-group">
                <label asp-for="Pessoa.Celular" class="form-label">Número de Celular<sup>*</sup></label>
                <input form="form-cadastrar" asp-for="Pessoa.Celular" class="form-control" placeholder="Ex. (12) 99345-6789" type="tel" required/>
                <span asp-validation-for="Pessoa.Celular" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-sm-10 col-md-12 form-group">
                <label asp-for="Segurado.Profissao" class="form-label">Profissão<sup>*</sup></label>
                <input form="form-cadastrar" asp-for="Segurado.Profissao" class="form-control" placeholder="Ex. Aux. Administrativo / Aux. de Operações / Nenhuma" required/>
                <span asp-validation-for="Segurado.Profissao" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-sm-10 col-md-12 form-group">
                <label asp-for="Segurado.FaixaSalarial" class="form-label">Faixa Salarial<sup>*</sup></label>
                <select form="form-cadastrar" asp-for="Segurado.FaixaSalarial" asp-items="Html.GetEnumSelectList<faixa_salarial>()" required>
                    <option value="" disabled selected>Selecione</option>
                </select>
                <span asp-validation-for="Segurado.FaixaSalarial" class="invalid-feedback">Campo obrigatório</span>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xl-6 col-xxl-4 tab-pane fade" id="step-two-pane">
        <div class="row gy-2 justify-content-sm-center">
            <div class="col-12">
                <div class="callout callout-primary">
                    <i class="fa fa-info-circle"></i>
                    <div>
                    Preencha o <strong>CEP</strong> e o endereço será preenchido automaticamente.
                    </div>
                </div>
            </div>
            <div class="col-sm-4 form-group flex-md-grow-1">
                <label asp-for="Pessoa.Cep" class="form-label">CEP</label>
                <input form="form-cadastrar" asp-for="Pessoa.Cep" class="form-control" placeholder="Ex. 12345-678" data-preencher-endereco="true"/>
                <span asp-validation-for="Pessoa.Cep" class="invalid-feedback">CEP Inválido.</span>
            </div>
            <div class="col-8 col-sm-4 col-xxl-5 me-xxl-auto form-group flex-md-grow-1">
                <label asp-for="Pessoa.Cidade" class="form-label">Cidade</label>
                <input form="form-cadastrar" asp-for="Pessoa.Cidade" class="form-control" placeholder="Ex. Ribeirão Preto"/>
                <span asp-validation-for="Pessoa.Cidade" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-4 col-sm-2 col-xxl-3 form-group flex-md-grow-1">
                <label asp-for="Pessoa.Estado" class="form-label">UF</label>
                <select form="form-cadastrar" asp-for="Pessoa.Estado">
                    <option value="0" selected disabled>UF</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
                <span asp-validation-for="Pessoa.Estado" class="invalid-feedback"></span>
            </div>
            <div class="col-sm-10 col-lg-12 form-group flex-md-grow-1">
                <label asp-for="Pessoa.Bairro" class="form-label">Bairro</label>
                <input form="form-cadastrar" asp-for="Pessoa.Bairro" class="form-control" placeholder="Ex. Campos Elísios"/>
                <span asp-validation-for="Pessoa.Bairro" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-sm-6 form-group flex-md-grow-1">
                <label asp-for="Pessoa.Rua" class="form-label">Rua</label>
                <input form="form-cadastrar" asp-for="Pessoa.Rua" class="form-control" placeholder="Ex. Presidente Vargas"/>
                <span asp-validation-for="Pessoa.Rua" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-sm-4 form-group flex-md-grow-1">
                <label asp-for="Pessoa.Numero" class="form-label">Número</label>
                <input form="form-cadastrar" asp-for="Pessoa.Numero" class="form-control" placeholder="Ex. 123"/>
                <span asp-validation-for="Pessoa.Numero" class="invalid-feedback">Campo Obrigatório</span>
            </div>
            <div class="col-sm-10 col-lg-12 form-group flex-md-grow-1">
                <label asp-for="Pessoa.Complemento" class="form-label">Complemento</label>
                <input form="form-cadastrar" asp-for="Pessoa.Complemento" class="form-control" placeholder="Ex. Ap. 3 - Bloco B"/>
                <span asp-validation-for="Pessoa.Complemento" class="invalid-feedback">Campo Obrigatório</span>
            </div>
        </div>
    </div>
    <div class="w-100 m-0"></div>
    <div class="col-sm-11 col-md-8 col-xl-6 col-xxl-4">
        <div class="row">
            <div class="col-12 col-sm-3 ms-sm-auto">
                <button type="submit" class="btn btn-primary w-100" form="form-cadastrar">Avançar</button>
            </div>
        </div>
    </div>
</form>
