.spinner-border {
    position: absolute;
}

.spinner-carregando {
    --bs-spinner-width: 4rem;
    --bs-spinner-height: 4rem;
    --bs-spinner-border-width: .475rem;
    --bs-spinner-animation-speed: 1s;
    border-color: var(--bs-primary);
    border-right-color: transparent;
    z-index: 1000;
}